<section>
    <div class="row">
        <div class="col-md-12 business-header">
            <div class="business-header-text">
                Brandply for Business
            </div>
        </div>
    </div>

    <div class="textpage-container">
        <div class="textpage-title">
            Business Header
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="row business-content">
        <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem mi, lobortis non sem sed, ultricies mattis sem. Cras tempor, sapien et vulputate pulvinar, velit est congue eros, quis laoreet neque augue quis augue. Praesent mollis, nisl id varius ultrices, ex ante viverra libero, ut ultrics libero tortor nec enim. Fusce aliquam suscipit semper.</p>
            <div class="business-content-button">
                <a ng-href="#" class="btn business-get-started">GET STARTED NOW!</a>
            </div>
        </div>
        <div class="col-md-5">
            <iframe width="100%" height="275" src="https://www.youtube.com/embed/EsbcqHaYDGA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row business-cards">
        <div class="col-md-4">
            <img src="modules/core/img/business_cards.jpg" />
        </div>
        <div class="col-md-8">
            <div class="gold-card card-top">
                Gold Card - &dollar;25 Value
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem mi
            </div>
            <div class="silver-card card-top">
                Silver Card - &dollar;50 Value
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem mi
            </div>
            <div class="black-card card-top">
                Black Card - &dollar;100 Value
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem mi
            </div>
        </div>
    </div>

    <div class="row gray-strip">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>

    <div ng-include src="'modules/core/views/partial.center.banner.html'"></div>

    <div ng-include src="'modules/core/views/partial.banner.slider.html'"></div>

    <div class="row gray-strip">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>

    <div ng-include src="'modules/core/views/partial.offers.list.html'"></div>
</section>