<section>
    <div class="row">
        <div class="col-md-12 consumers-header">
            <div class="consumers-header-text">
                Brandply for Consumers
            </div>
        </div>
    </div>

    <div class="textpage-container">
        <div class="textpage-title">
            Consumers Header
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>

        <div class="row consumers-content">
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem mi, lobortis non sem sed, ultricies mattis sem. Cras tempor, sapien et vulputate pulvinar, velit est congue eros, quis laoreet neque augue quis augue. Praesent mollis, nisl id varius ultrices, ex ante viverra libero, ut ultrics libero tortor nec enim. Fusce aliquam suscipit semper.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante viverra libero, ut ultrics libero tortor nec enim. Fusce aliquam suscipit semper.</p>
            </div>
            <div class="col-md-5">
                <iframe width="100%" height="275" src="https://www.youtube.com/embed/_tt-7E_zJTc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row questions-row">
            <div class="col-sm-12 questions-row-title">
                Still Have Questions?
            </div>
            <div class="">
                <div class="col-sm-6 qustions-row-button">
                    <a ng-href="contact" class="btn questions-contact-btn">CONTACT US</a>
                </div>
                <div class="col-sm-6 qustions-row-button">
                    <a ng-href="faqs" class="btn questions-check-btn">CHECK OUT OUR FAQ’s</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row gray-strip">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>

    <div ng-include src="'modules/core/views/partial.center.banner.html'"></div>

    <div ng-include src="'modules/core/views/partial.banner.slider.html'"></div>

    <div class="row gray-strip">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>

    <div ng-include src="'modules/core/views/partial.offers.list.html'"></div>
</section>