<section data-ng-controller="ContactController">
    <div class="row">
        <div class="col-md-12 home-header">
            <div class="home-header-text">
            </div>
        </div>
    </div>

    <div class="textpage-container">
        <div class="textpage-title">
            Contact Us
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>

        <div class="row contact-form-container">
            <div class="col-md-12">
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <form name="contactForm" data-ng-submit="contact()" class="contactForm form-horizontal" novalidate autocomplete="off">
                    <div class="row contact-header">
                        <div class="col-md-12">
                            Visit our <a ng-href="#">FAQs</a> page for additional information.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div ng-class="{ 'has-error' : contactForm.username.$invalid && submitted}">
                                <input type="text" required id="username" name="username" class="form-control"
                                       data-ng-model="contact.username" placeholder="Name">
                            </div>
                            <div ng-class="{ 'has-error' : contactForm.phone.$invalid && submitted}">
                                <input type="email" required id="email" name="email" class="form-control"
                                       data-ng-model="contact.email" placeholder="Email Address">
                            </div>
                            <div ng-class="{ 'has-error' : contactForm.phone.$invalid && submitted}">
                                <input type="text" required id="phone" name="phone" class="form-control"
                                       data-ng-model="contact.phone" placeholder="Phone Number">
                            </div>
                            <div ng-class="{ 'has-error' : contactForm.subject.$invalid && submitted}">
                                <input type="text" required id="subject" name="subject" class="form-control"
                                       data-ng-model="contact.subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-class="{ 'has-error' : contactForm.message.$invalid && submitted}">
                                <textarea class="form-control" required id="message" name="message"
                                          data-ng-model="contact.message" placeholder="Message:" rows="9"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-large btn-primary">SUBMIT</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 contact-info">
                            <p>
                                32255 Northwestern Highway <br/>
                                Suite 196 <br/>
                                Farmington Hills, MI 48334
                            </p>
                            <p>
                                info@brandply.com <br/>
                                1-800-BRANDPLY
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
    </div>
</section>