<section data-ng-controller="FaqsController">
    <div class="row">
        <div class="col-md-12 home-header">
            <div class="home-header-text">
            </div>
        </div>
    </div>

    <div class="textpage-container">
        <div class="textpage-title">
            <div class="faqs-title">FAQs</div>
            <div class="faqs-search form-group">
                <input type="text" class="form-control"
                       data-ng-model="search" placeholder="Search">
            </div>
            <div class="clear">&nbsp;</div>
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>

        <div class="row textpage-content">
            <div data-ng-repeat="faq in faqs | filter:search" class="faq-container">
                <div class="faqs-text-title" data-ng-click="faq.isCollapsed = !faq.isCollapsed">{{faq.title}}</div>
                <div class="faqs-text-content" collapse="!faq.isCollapsed">{{faq.text}}</div>
            </div>
        </div>

        <div class="row gray-strip gray-strip-without-margin">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
    </div>
</section>