<section class="content footer-content" data-ng-controller="FooterController">
    <section class="container">
        <div class="footer-info">
            <img src="modules/core/img/footer_logo.png" />
            <div>
                © 2015 Brandply LLC <br/>
                Farmington Hills, MI 48334
            </div>
        </div>

        <div class="footer-menu">
            <ul>
                <li data-ng-repeat="item in menu.items | orderBy: 'position'">
                    <a data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
    </section>
</section>