<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a data-ui-sref="home" class="navbar-brand">
			<img ng-src="modules/core/img/header_logo.png" class="header-logo-img"/>
		</a>
	</div>
	<div ng-show="showLogin" ng-include src="'modules/users/views/authentication/signin.client.popup.view.html'" class="login-popup" id="login-popup-mobile" ></div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ui-sref-active="active" data-ng-hide="authentication.user" ng-class="showLogin ? 'active' : ''">
				<a data-ui-sref="authentication.signin" target="_self" ng-click="openLogin($event);">Login</a>
				<div ng-show="showLogin" ng-include src="'modules/users/views/authentication/signin.client.popup.view.html'" class="login-popup" id="login-popup-desktop" ></div>
			</li>
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{active: $state.includes(item.state)}" class="{{item.class}}" dropdown="item.type === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
						<a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
			</li>
			<li data-ng-hide="!authentication.user" >
				<a href="/api/auth/signout" target="_self">Signout</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li data-ui-sref-active="active">
				<a data-ui-sref="contact" target="_self">Contact</a>
			</li>
		</ul>
	</nav>
</div>
