<!-- Add angular controller and dynamic data via service-->
<section data-ng-controller="PageController">
    <div class="row">
        <div class="col-md-12 home-header">
        </div>
    </div>

    <div class="textpage-container">
        <div class="textpage-title">
            {{title}}
        </div>

        <div class="row gray-strip">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>

        <div class="row textpage-content">
            {{text}}

            <h4>1.  DEFINITIONS</h4>

            <div>“Client Data” means all text, pictures, sound, graphics, video and other electronic data submitted by Client for the Services.</div>

            <div>“Services” means any of the products and services that Client purchases by means of executing a Services Form.</div>

            <div>“Services Form” means the Brandply Client Services Form evidencing the initial purchase of the Services as well as any subsequent purchases of Services agreed to between the parties which identify the specific Services and the applicable fees.</div>

            <div>“Software” means any Brandply owned or Brandply licensed third party computer software and associated documentation furnished to Client or used by Brandply in connection with the Services or by amending the existing Services Form.</div>

            <h4>2.  THE SERVICES</h4>

            <div>2.1  General. Brandply will provide Client with the Services described herein.  The parties may add Services to the Services Form from time to time by executing a Services Form for additional Services.</div>

            <div>2.2  Orders.  Client agrees that the terms and conditions set forth herein shall be applicable to all orders covering the Services and shall supersede all printed terms and conditions set forth in purchase orders or other forms used by Client, or any oral agreements between the parties.  Brandply hereby objects to any terms and conditions appearing in or on Client’s purchase orders or other forms which modify, contradict or are in addition to the terms and conditions set forth herein.  Client agrees that its acceptance of the Services shall constitute Client’s acceptance of these terms and conditions of sale.</div>

            <div>2.3  Fulfillment. Brandply shall provide a link for use on Client’s website, that when clicked, will open a new window from which Client’s customers can utilize the membership cards and/or membership codes (the “Client’s Brandply Webpage”).  The Client’s Brandply Webpage shall be operated, maintained and supported by Brandply for the term of the Services Form.  Client shall supply such intellectual property, including icons, logos and graphics to Brandply to integrate them appropriately into Client’s Brandply Webpage..</div>

            <div>2.4  Changes.  Unless otherwise provided in this Services Form, Client shall pay additional charges for changes requested by Client which are outside the scope of the Services on a time and materials basis.  Such charges shall be in addition to all other amounts payable under the Services Form, despite any maximum budget, contract price or final price identified therein.  Brandply may extend or modify any delivery schedule or deadlines in the Services Form as may be required by such changes.</div>

            <h4>3.  TERM AND TERMINATION</h4>

            <div>The term of the engagement for the Services shall commence on the execution of the Services Form and continue for the number of months set forth on the Services Form.</div>

            <h4>4.  CONFIDENTIALITY, PRIVACY AND DATA COLLECTION</h4>

            <div>4.1  Confidentiality. Any confidential information or material furnished or disclosed by one party to the other party shall remain the exclusive property of the disclosing party. Both parties agree not to disclose the confidential information of the other party to any third party or use such information except as authorized hereunder. Confidential information shall not include any information that is (a) already known by the receiving party at the time of its disclosure or becomes publicly known through no wrongful act of the receiving party; or (b) lawfully required to be disclosed to any government agency or judicial body. For purposes of this Services Form, confidential information shall include any information of a confidential or proprietary nature, including, without limitation, advertising materials, any information about customers, plans strategies, trade secrets, techniques, products, research and development, production, costs, profit information, and the business terms of this Services Form.</div>

            <div>4.2  Client Data. Brandply will employ its best commercial efforts to prevent any unauthorized access to or duplication of the Client Data.  Without limiting the foregoing, Brandply shall not permit any third party to, use, sell, distribute or otherwise disclose or make available any Client Data.</div>

            <div>4.3  Privacy. Brandply shall comply with applicable privacy laws and regulations within the areas in which it provides Services.  Brandply shall at all times comply with the privacy policy articulated at _____________________________.</div>

            <div>4.4  Data Collection.  The parties mutually agree at all times that the Client’s Brandply Webpage is operational to maintain appropriate technical and organizational measures to protect any Client Data that is collected, accessed or processed in connection with this Services Form against unauthorized or unlawful use, disclosure, processing or alteration, and in accordance with all applicable laws, rules and regulations.</div>

            <h4>5.  REPRESENTATIONS AND WARRANTIES.</h4>

            <div>Each party warrants that they have the power, right, and authority to enter into this Services Form, and that their respective performances hereunder will not, to their knowledge, directly or indirectly, infringe upon or violate any intellectual property (including, but not limited to patent, copyright or trademark) or other proprietary rights of any third party, or constitute defamation, false advertising, invasion of privacy or violation of any right of publicity or other right of any third party, or violate any applicable law or regulation.</div>

            <h4>6.  PERFORMANCE</h4>

            <div>6.1  Brandply will provide the Services in a professional and workmanlike manner in accordance with the generally accepted industry standards applicable to said Services.  Brandply’s entire liability and Client’s sole remedy for any non-conformance with the foregoing warranty shall be Brandply’s re-performance of the non-conforming work.</div>

            <div>6.2  Availability and Restrictions. Except as specifically set forth above, Brandply does not warrant that performance of the Services and/or Client’s Brandply Webpage will be uninterrupted, or that all deficiencies or defects in the Services and/or Client’s Brandply Webpage will be corrected.</div>

            <h4>7.  IDENTITY.</h4>

            <div>Each party (the “Indemnifying Party”) shall defend, indemnify, and hold harmless the other party its officers, directors, members, employees, and affiliates (the “Indemnified Party”), from any demands, suits, causes of action, liability, damages and expense (including reasonable attorney’s fees) and costs (collectively, “Damages”) arising out of any third party claims against the Indemnified Party relating to (a) any breach of this Services Form by the Indemnifying Party, or (b) the use of the Indemnifying Party’s Marks if used by the Indemnified Party as permitted hereunder.</div>

            <h4>8.  LIMITATION OF WARRANTY AND LIABILITY</h4>

            <div>8.1  Warranty Limitations. EXCEPT AS OTHERWISE PROVIDED IN THIS SERVICES FORM, BRANDPLY MAKES AND CLIENT RECEIVES NO OTHER EXPRESS OR IMPLIED WARRANTIES OF ANY KIND AND BRANDPLY SPECIFICALLY DISCLAIMS AND EXCLUDES ALL OTHER REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE; IMPLIED WARRANTY ARISING FROM COURSE OF PERFORMANCE, COURSE OF DEALING, OR USAGE OF TRADE; OR STATUTORY REMEDY.  NO STATEMENT WHETHER MADE BY BRANDPLY’S EMPLOYEES, AGENTS OR OTHERWISE, SHALL BE DEEMED TO BE A WARRANTY BY BRANDPLY FOR ANY PURPOSE OR TO GIVE RISE TO ANY LIABILITY ON THE PART OF BRANDPLY UNLESS SPECIFICALLY CONTAINED IN THIS SERVICES FORM.</div>


            <div>8.2 Limitation of Liability. EXCEPT FOR INTELLECTUAL PROPERTY INDEMNIFICATION AND CONFIDENTIALITY OBLIGATIONS, IN NO EVENT WILL EITHER PARTY’S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS SERVICES FORM, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, EXCEED THE TOTAL FEES PAID BY CLIENT UNDER THIS SERVICES FORM.</div>

            <div>8.3  Exclusion of Consequential and Related Damages. BRANDPLY WILL NOT BE LIABLE TO CLIENT UNDER THIS SERVICES FORM OR OTHERWISE FOR ANY INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES, LOSS OF PROFITS, LOSS OF DATA OR USE OF DATA OR INTERRUPTION OF BUSINESS, WHETHER FORSEEABLE OR NOT, OR EVEN IF BRANDPLY OR ITS REPRESENTATIVE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS.  EXCEPT AS EXPRESSLY PROVIDED IN SECTION 8, BRANDPLY MAKES NO OTHER WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO CLIENT’S BRANDPLY WEBPAGE, OR ANY OTHER SERVICES TO BE PROVIDED BY BRANDPLY HEREUNDER, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, TITLE OR FITNESS FOR A PARTICULAR PURPOSE. NEITHER BRANDPLY NOR ITS AFFILIATES SHALL BE LIABLE TO CLIENT FOR PUNITIVE, EXEMPLARY, CONSEQUENTIAL OR INDIRECT DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES RESULTING FROM LOST PROFITS OR GOODWILL, WHETHER OR NOT THAT PARTY HAS BEEN ADVISED OR IS AWARE OF THE POSSIBILITY OF SUCH DAMAGES.</div>

            <h4>9  INTELLECTUAL PROPERTY</h4>

            <div>9.1  Marks.  Each party hereby grants to the other party a non-exclusive license to use and reproduce their respective logo(s), trade name(s), and trademark(s), and copyrighted images and other content (“Marks”) in connection with the obligations outlined in this Services Form and license will terminate upon termination of this Services Form.  Both parties reserve the right to make adjustments to their business and product names.  Neither party shall have the right to use the other party’s or its affiliates’ trademarks, service marks, or trade names without the prior written consent of the other party.</div>

            <div>9.2  Reservation of Rights. Brandply shall retain all intellectual property rights in and to the Services, the Software used to provide the Services, and any modifications and enhancements thereto. Except as expressly provided herein, nothing contained herein shall be interpreted so as to transfer any right, title or interest in any intellectual property right of Brandply, nor does Brandply grant Client any rights or licenses in any of its intellectual property rights.</div>

            <div>9.3  Ownership.  All right, title and interest in and to the Services and associated promotional materials and documentation, including, without limitation, all copyrights, patent rights, trademark and service rights, trade secret rights and other intellectual property rights, are and will remain the property of Brandply, and such items may only be used by Client as expressly permitted hereunder.  Client shall not remove, alter or otherwise modify any copyright, trademark or other notices of proprietary interest on Client’s Brandply Webpage.  Brandply acknowledges and agrees that Client owns all right, title and interest in and to Client’s website and intellectual property, and any software, technology or tools used by Client in connection with its website.</div>

            <div>9.4  Infringement.  Brandply does not guarantee, warrant, or offer any copyright, trademark, patent, or other intellectual property protection to Client in or relating to any of the Services covered by this Services Form.  Brandply shall not be obligated, liable, or in any way responsible to Client because of any alleged or actual violations of patent rights, trademarks, trade names, copyrights, or other intellectual property rights, from or in connection with the sale or use of the Services.  Notwithstanding the foregoing, Brandply agrees to defend or, at its option, settle any claim or action against Client to the extent arising from a third party claim that a permitted use of the Services by Client infringes any U.S. patent or copyright, provided Brandply has control of such defense or settlement negotiations and Client gives Brandply prompt notice of any such claim and provides reasonable assistance in its defense.  Brandply will not be liable under this Section if the infringement arises out of Client’s activities after Brandply has notified Client that Brandply believes in good faith that Client’s activities will result in such infringement. The foregoing states the entire liability of Brandply with respect to infringement of intellectual property rights</div>

            <h4>10.  REMEDIES.</h4>

            <div>Except as otherwise provided in this Services Form, upon the occurrence of any breach or a party’s failure to fulfill any obligation or agreement contained in this Services Form, the non-breaching party shall have the right to exercise any one or more of the rights, powers and remedies afforded to such party under this Services Form or available under applicable law.  All such rights, powers and remedies are cumulative and the exercise of one or more of such rights, powers and remedies shall not preclude or limit in any way the exercise of any other right, power or remedy.</div>

            <h4>11.  GENERAL</h4>

            <div>This Services Form creates only a non-exclusive relationship between the parties.  It does not create a partnership, joint venture, or agency relationship.  Neither party has the power or authority to obligate or bind the other or to incur any obligation on its behalf.  A waiver by Brandply of any breach or remedy under this Services Form is not a waiver of any other breach or remedy.  If a provision of this Services Form is unenforceable, the remaining provisions shall continue in effect.  This Services Form is governed by the laws of the State of Michigan as though fully performed therein, without reference to its principles of conflict of laws that would trigger the application of the law of any other jurisdiction.  The parties acknowledge and agree that any action arising under or in connection with this Services Form shall be brought in the court of the State of Michigan for Oakland County or in the United States District Court for the Eastern District of Michigan.  The parties irrevocably consent to the jurisdiction of either of these venues.  All notices under this Services Form must be in writing and shall be delivered by personal service, or registered or certified mail, return receipt requested, postage prepaid, to the address listed in the Services Form.  All notices are effective on the date received.  For registered or certified mail, the date received is the date indicated on the return receipt.  Either party may change its address by providing written notice to the other under this provision.  This Services Form constitutes the entire agreement between the parties.  Any change in this Services Form must be in writing with specific reference to this Services Form and signed by an authorized representative of each party.  All prior understandings between the parties are merged and integrated into this Services Form.  Client represents and warrants to Brandply that it is currently not a party to, or bound by, any agreement, contract, or other binding obligation that restricts or otherwise prohibits it from performing its duties under this Services Form, or which in any way would be violated by Client’s engagement by Brandply or by its signing of this Services Form.  All of the terms and conditions of this Services Form shall be binding upon and inure to the benefit of the heirs, successors, administrators, legal representatives, and permitted assigns, as the case may be, of the parties hereto.  Client shall have no right to assign or transfer any of its rights or obligations under this Services Form without the prior written consent of Brandply.  This Services Form may be assigned by Brandply and shall inure to the benefit of Brandply’s successors and assigns.  This Services Form may be executed in one or more counterparts each of which shall be deemed to be an original, and all of which together shall constitute one and the same Services Form.  Delivery of an executed counterpart of this Services Form by facsimile, .pdf, .tif, .gif, .jpg or similar image (any such delivery, an “Electronic Delivery”), sent via electronic mail shall be equally as effective and binding as delivery of an executed original counterpart and shall constitute a covenant to deliver an executed original counterpart, but the failure to do so shall not affect the validity, enforceability and binding effect of this Services Form. No party hereto shall raise the use of a facsimile machine or Electronic Delivery to deliver a signature or the fact that any signature or agreement or instrument was transmitted or communicated through the use of a facsimile machine or Electronic Delivery as a defense to the formation of a contract, and each such party forever waives any such defense.  Each party acknowledges that its breach of this Services Form may cause the other party immediate and irreparable damage for which recovery of money damages would be inadequate.  Therefore, each party agrees that the other party shall be entitled to seek injunctive relief to protect its rights under this Services Form in addition to any other remedies available to said party.  Neither party shall be liable to the other, following notice thereof, for any failure or delay in the performance of its obligations (except for confidentiality obligations pursuant to Section 4) for any cause that is beyond the reasonable control of such party.  Neither party shall be liable for failure to perform any obligation under this Services Form (other than payment obligations) where such failure is due to fire, flood, labor dispute, natural calamity, acts of the government or other causes that are otherwise beyond the control of such party (“force majeure”), but such party shall perform as soon as the force majeure condition is removed. In the event that any force majeure condition preventing performance of a party’s material obligations lasts longer than thirty (30) days, the other party may terminate this Services Form upon written notice to the party claiming force majeure.  Client’s obligation to pay Brandply amounts due hereunder shall not be subject to this provision.</div>
        </div>

        <div class="row gray-strip gray-strip-without-margin">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
    </div>
</section>