<div class="row">
    <div class="col-md-12">
        <div class="banner-slider">
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo1.png"/>
            </div>
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo2.png"/>
            </div>
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo3.png"/>
            </div>
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo4.png"/>
            </div>
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo5.png"/>
            </div>
            <div class="col-md-2 col-xs-4 banner-container">
                <img src="modules/core/img/logo1.png"/>
            </div>

            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>