<div class="row">
    <div class="col-md-12">
        <div class="home-center-banner">
            <h4>Save on Web & Mobile!</h4>

            <div class="col-md-2 col-xs-6 home-center-banner-entertainment home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Entertainment</h5>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 home-center-banner-dining home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Dining</h5>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 home-center-banner-health home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Health & Beauty</h5>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 home-center-banner-auto home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Auto</h5>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 home-center-banner-travel home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Travel</h5>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 home-center-banner-more home-center-banner-block">
                <div class="home-center-banner-inner">
                    <h5>Much More!</h5>
                </div>
            </div>

            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>