<div class="row">
    <div class="col-sm-12">
        <div class="form-find-in-area">
            <span>Find Deals in Your Area!</span> <input ng-model="postalKey" type="text" ng-blur="offersSearch(postalKey)" ng-keypress="onFolderNumberKeyPress($event, postalKey)" class="find-in-area" placeholder="Enter Zipcode"/>
        </div>
    </div>
</div>
<!--{{allOffers}}-->
<div class="row gray-strip home-offers">
    <div ng-repeat="offer in allOffers.offers" class="col-lg-3 col-md-3 col-sm-12">
        <div class="offers-list offer-inner">
            <div class="offer-category-title">
                <span ng-repeat="offerCat in offer.categories">
                    {{offerCat.category_name}}
                </span>
            </div>
            <div class="offer-logo">
                <img src="{{offer.logo_url}}"/>
            </div>
            <div class="offer-info">
                <div class="offer-title">
                    {{offer.title | limitTo: 23}}{{offer.title.length > 23 ? '...' : ''}}
                </div>
                <div class="offer-subtitle">
                    {{offer.offer_store.name}}
                </div>
                <div class="offer-address">
                    {{offer.offer_store.physical_location.city_locality}}, {{offer.offer_store.physical_location.state_region}}
                </div>
                <div class="offer-distance">
                    {{offer.distance}} Miles Away
                </div>
                <div class="offer-icons">
                    <span ng-repeat="redemt in offer.redemption_methods">
                        <span ng-if="redemt == 'instore_print' ">
                            <span class="offer-icon-print glyphicon glyphicon-print"></span>
                        </span>
                        <span ng-if="redemt == 'link' ">
                            <span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>
                        </span>
                        <span ng-if="redemt == 'call' ">
                            <span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>
                        </span>
                        <span ng-if="redemt == 'instore' ">
                            <span class="offer-icon-phone glyphicon glyphicon-phone"></span>
                        </span>
                        <span ng-if="redemt == 'instore_all' ">
                            <span class="offer-icon-print glyphicon glyphicon-print"></span>
                            <span class="offer-icon-phone glyphicon glyphicon-phone"></span>
                            <span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>
                            <span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>
                        </span>
                    </span>
                </div>
                <div class="offer-rate">
                    <img src="modules/core/img/star_icon.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preloader-offers">
    <img class="wings-gif" src="modules/core/img/123.gif"/>
</div>
<!--<div class="row gray-strip">-->
    <!--<div class="col-lg-3 col-md-3 col-sm-12">-->
        <!--<div class="offers-list offer-inner">-->
            <!--<div class="offer-category-title">Fast Food</div>-->
            <!--<div class="offer-logo">-->
                <!--<img src="modules/core/img/offer1.png" />-->
            <!--</div>-->
            <!--<div class="offer-info">-->
                <!--<div class="offer-title">-->
                    <!--FREE FOUNTAIN DRINK-->
                <!--</div>-->
                <!--<div class="offer-subtitle">-->
                    <!--Taco Bell-->
                <!--</div>-->
                <!--<div class="offer-address">-->
                    <!--Farmington Hills, MI-->
                <!--</div>-->
                <!--<div class="offer-distance">-->
                    <!--3 Miles Away-->
                <!--</div>-->
                <!--<div class="offer-icons">-->
                    <!--<span class="offer-icon-print glyphicon glyphicon-print"></span>-->
                    <!--<span class="offer-icon-phone glyphicon glyphicon-phone"></span>-->
                    <!--<span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>-->
                    <!--<span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>-->
                <!--</div>-->
                <!--<div class="offer-rate">-->
                    <!--<img src="modules/core/img/star_icon.png" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-12">-->
        <!--<div class="offers-list offer-inner">-->
            <!--<div class="offer-category-title">Fast Food</div>-->
            <!--<div class="offer-logo">-->
                <!--<img src="modules/core/img/offer2.png" />-->
            <!--</div>-->
            <!--<div class="offer-info">-->
                <!--<div class="offer-title">-->
                    <!--FREE FOUNTAIN DRINK-->
                <!--</div>-->
                <!--<div class="offer-subtitle">-->
                    <!--Taco Bell-->
                <!--</div>-->
                <!--<div class="offer-address">-->
                    <!--Farmington Hills, MI-->
                <!--</div>-->
                <!--<div class="offer-distance">-->
                    <!--3 Miles Away-->
                <!--</div>-->
                <!--<div class="offer-icons">-->
                    <!--<span class="offer-icon-print glyphicon glyphicon-print"></span>-->
                    <!--<span class="offer-icon-phone glyphicon glyphicon-phone"></span>-->
                    <!--<span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>-->
                    <!--<span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>-->
                <!--</div>-->
                <!--<div class="offer-rate">-->
                    <!--<img src="modules/core/img/star_icon.png" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-12">-->
        <!--<div class="offers-list offer-inner">-->
            <!--<div class="offer-category-title">Fast Food</div>-->
            <!--<div class="offer-logo">-->
                <!--<img src="modules/core/img/offer3.png" />-->
            <!--</div>-->
            <!--<div class="offer-info">-->
                <!--<div class="offer-title">-->
                    <!--FREE FOUNTAIN DRINK-->
                <!--</div>-->
                <!--<div class="offer-subtitle">-->
                    <!--Taco Bell-->
                <!--</div>-->
                <!--<div class="offer-address">-->
                    <!--Farmington Hills, MI-->
                <!--</div>-->
                <!--<div class="offer-distance">-->
                    <!--3 Miles Away-->
                <!--</div>-->
                <!--<div class="offer-icons">-->
                    <!--<span class="offer-icon-print glyphicon glyphicon-print"></span>-->
                    <!--<span class="offer-icon-phone glyphicon glyphicon-phone"></span>-->
                    <!--<span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>-->
                    <!--<span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>-->
                <!--</div>-->
                <!--<div class="offer-rate">-->
                    <!--<img src="modules/core/img/star_icon.png" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-12">-->
        <!--<div class="offers-list offer-inner">-->
            <!--<div class="offer-category-title">Fast Food</div>-->
            <!--<div class="offer-logo">-->
                <!--<img src="modules/core/img/offer4.png" />-->
            <!--</div>-->
            <!--<div class="offer-info">-->
                <!--<div class="offer-title">-->
                    <!--FREE FOUNTAIN DRINK-->
                <!--</div>-->
                <!--<div class="offer-subtitle">-->
                    <!--Taco Bell-->
                <!--</div>-->
                <!--<div class="offer-address">-->
                    <!--Farmington Hills, MI-->
                <!--</div>-->
                <!--<div class="offer-distance">-->
                    <!--3 Miles Away-->
                <!--</div>-->
                <!--<div class="offer-icons">-->
                    <!--<span class="offer-icon-print glyphicon glyphicon-print"></span>-->
                    <!--<span class="offer-icon-phone glyphicon glyphicon-phone"></span>-->
                    <!--<span class="offer-icon-paperclip glyphicon glyphicon-paperclip"></span>-->
                    <!--<span class="offer-icon-earphone glyphicon glyphicon-earphone"></span>-->
                <!--</div>-->
                <!--<div class="offer-rate">-->
                    <!--<img src="modules/core/img/star_icon.png" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->