@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.social-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: inherit;
	display: block;
}

.user-profile-picture {
	min-height: 150px;
	max-height: 150px;
}

.signup-container {
	background-color: #e2e3e4;
	padding: 25px 0;
}

.signup-container .text-danger {
	margin-bottom: 10px;
}

.signup-container form.signin {
	padding: 0 20px;
	margin-bottom: 20px;
}

.signin-form-row {
	margin-bottom: 30px;
}

.signup-container form.signin .btn {
	width: 100%;
	background: #d81f33;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border: none;
}

form.signin label.control-label {
	text-align: left;
}


/*media queries*/
@media screen and (max-width: 992px) {

	form.signin .form-control {
		margin-bottom: 20px;
	}

	.signin-form-row {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	form.signin label.control-label {
		padding-top: 7px;
	}
}

@media screen and (max-width: 400px) {
	form.signin label.control-label {
		font-size: 12px;
		padding-top: 9px;
	}
}