<section data-ng-controller="AdminUsersController" class="ng-scope">
	<div class="jumbotron text-center">
		{{nameText}} create
	</div>
	<div class="col-md-12">
		<form name="userForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input name="username" type="text" data-ng-model="username" id="username" class="form-control" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
					<div class="controls">
						<input name="firstName" type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastName">Last Name</label>
					<div class="controls">
						<input name="lastName" type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input name="email" type="text" data-ng-model="email" id="email" class="form-control" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input name="password" type="password" data-ng-model="password" id="password" class="form-control" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>