<section data-ng-controller="AdminOrganizationsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Organization</h1>
	</div>
	<div class="col-md-12">
		<form name="pageForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Organization Name</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="organization.name" id="name" class="form-control" placeholder="Organization Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="url">Organization URL</label>
					<div class="controls">
						<input name="url" type="text" data-ng-model="organization.url" id="url" class="form-control" placeholder="Organization URL" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="organization.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="templateColor">Template Color</label>
					<div class="controls">
						<input name="templateColor" type="text" data-ng-model="organization.templateColor" id="templateColor" class="form-control" placeholder="Template Color" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="emailSettings">Email Settings</label>
					<select name="emailSettings" data-ng-model="organization.emailSettings" id="emailSettings" class="form-control">
						<option value="Monthly">Monthly</option>
						<option value="Weekly">Weekly</option>
						<option value="EveryDay">Every Day</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="status">Status</label>
					<select name="status" data-ng-model="organization.status" id="status" class="form-control">
						<option value="Active">Active</option>
						<option value="Blocked">Blocked</option>
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
