<section data-ng-controller="AdminUsersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit User</h1>
	</div>
	<div class="col-md-12">
		<form name="pageForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input name="username" type="text" data-ng-model="user.username" id="username" class="form-control" placeholder="Username" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
					<div class="controls">
						<input name="firstName" type="text" data-ng-model="user.firstName" id="firstName" class="form-control" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastName">Last Name</label>
					<div class="controls">
						<input name="lastName" type="text" data-ng-model="user.lastName" id="lastName" class="form-control" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input name="email" type="text" data-ng-model="user.email" id="email" class="form-control" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input name="password" type="password" data-ng-model="user.password" id="password" class="form-control" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
