<section data-ng-controller="AdminOffersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Offer</h1>
	</div>
	<div class="col-md-12">
		<form name="offerForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="text">Text</label>
					<div class="controls">
						<input name="text" type="text" data-ng-model="offer.text" id="text" class="form-control" placeholder="Text" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="instructions">Instructions</label>
					<div class="controls">
						<input name="instructions" type="text" data-ng-model="offer.instructions" id="instructions" class="form-control" placeholder="Istructions" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="terms">Terms</label>
					<div class="controls">
						<input name="terms" type="text" data-ng-model="offer.terms" id="terms" class="form-control" placeholder="Terms" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
