<section data-ng-controller="AdminOffersController" class="ng-scope">
	<div class="jumbotron text-center">
		{{nameText}} : {{offers | json}}
	</div>

	<div class="list-group">
		<a data-ng-repeat="offer in offers"  data-ui-sref="admin.editoffer({offerId: offer._id})" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="offer.text"></h4>
			<p class="list-group-item-text" data-ng-bind="offer.instructions"></p>
			<p class="list-group-item-text" data-ng-bind="offer.terms"></p>
		</a>
	</div>

</section>