<section data-ng-controller="AdminOrganizationsController" class="ng-scope">
	<div class="jumbotron text-center">
		{{nameText}} : {{organizations | json}}
	</div>
	<div class="list-group">
		<a data-ng-repeat="organization in organizations"  data-ui-sref="admin.editorganization({organizationsId: organization._id})" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="organization.name"></h4>
			<p class="list-group-item-text" data-ng-bind="organization.url"></p>
			<p class="list-group-item-text" data-ng-bind="organization.content"></p>
			<p class="list-group-item-text" data-ng-bind="organization.templateColor"></p>
			<p class="list-group-item-text" data-ng-bind="organization.emailSettings"></p>
			<p class="list-group-item-text" data-ng-bind="organization.status"></p>
		</a>
	</div>
</section>