<section data-ng-controller="AdminPagesController" class="ng-scope">
    <div class="admin-title">
        {{nameText}}
    </div>
	<div class="jumbotron text-center">
		{{nameText}} : {{pages | json}}
	</div>

	<div class="list-group">
		<a data-ng-repeat="page in pages"  data-ui-sref="admin.editpage({pageId: page._id})" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="page.title"></h4>
			<!--<p class="list-group-item-text" data-ng-bind="page.content"></p>-->
		</a>
	</div>

</section>