<section data-ng-controller="AdminSalesController" class="ng-scope">
	<div class="jumbotron text-center">
		List sales : {{salesPartners | json}}
	</div>
	<div class="list-group">
		<a data-ng-repeat="partner in salesPartners"  data-ui-sref="admin.editSalesPartners({salesId: partner._id})" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="partner.name"></h4>
		</a>
	</div>
</section>