<section data-ng-controller="AdminUsersController" class="ng-scope">
	<div class="jumbotron text-center">
		{{nameText}} : {{users | json}}
	</div>
	<div class="list-group">
		<a data-ng-repeat="user in users"  data-ui-sref="admin.edituser({adminUserId: user._id})" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="user.username"></h4>
			<p class="list-group-item-text" data-ng-bind="user.firstName"></p>
			<p class="list-group-item-text" data-ng-bind="user.lastName"></p>
			<p class="list-group-item-text" data-ng-bind="user.email"></p>
		</a>
	</div>
</section>