<section>
	<div class="row">
		<div class="col-md-12 home-header">
			<div class="home-header-text">
			</div>
		</div>
	</div>

	<div class="textpage-container">
		<div class="textpage-title">
			Activate Your Membership
		</div>

		<div class="row gray-strip">
			<div class="col-sm-12">
				&nbsp;
			</div>
		</div>

		<div class="row signup-container">
			<div ui-view></div>

			<div class="col-sm-12">
				<div class="row gray-strip">
					<div class="col-sm-12">
						&nbsp;
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<h3 class="col-md-12 col-sm-12 col-xs-12 text-center">Sign in using your social accounts</h3>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="/api/auth/facebook" target="_self" class="undecorated-link">
							<img src="/modules/users/img/buttons/facebook.png">
						</a>
						<!--<a href="/api/auth/twitter" target="_self" class="undecorated-link">
							<img src="/modules/users/img/buttons/twitter.png">
						</a>-->
						<a href="/api/auth/google" target="_self" class="undecorated-link">
							<img src="/modules/users/img/buttons/google.png">
						</a>
						<!--<a href="/api/auth/linkedin" target="_self" class="undecorated-link">
							<img src="/modules/users/img/buttons/linkedin.png">
						</a>
						<a href="/api/auth/github" target="_self" class="undecorated-link">
							<img src="/modules/users/img/buttons/github.png">
						</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
