<div data-ng-controller="AuthenticationController">
	<div>
		<div data-ng-show="error" class="text-center text-danger">
			<strong data-ng-bind="error"></strong>
		</div>

		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<div class="col-md-12 col-lg-12 signin-form-row">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<!--<div class="col-md-6" ng-class="{ 'has-error' : userForm.groupID.$invalid && submitted}">
								<input type="text" required id="groupID" name="groupID" class="form-control"
									   data-ng-model="credentials.groupID" placeholder="Group ID">
							</div>-->
							<div class="col-md-12" ng-class="{ 'has-error' : userForm.memberID.$invalid && submitted}">
								<input type="text" required id="memberID" name="memberID" class="form-control"
									   data-ng-model="credentials.memberID" placeholder="Member ID">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.username.$invalid && submitted}">
								<input type="text" required id="username" name="username" class="form-control"
									   data-ng-model="credentials.username" placeholder="Username">
							</div>
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.phone.$invalid && submitted}">
								<input type="text" required id="phone" name="phone" class="form-control"
									   data-ng-model="credentials.phone" placeholder="Phone Number">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-12 signin-form-row">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.firstName.$invalid && submitted}">
								<input type="text" required id="firstName" name="firstName" class="form-control"
									   data-ng-model="credentials.firstName" placeholder="firstName">
							</div>
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.lastName.$invalid && submitted}">
								<input type="text" required id="lastName" name="lastName" class="form-control"
									   data-ng-model="credentials.lastName" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && submitted}">
								<input type="password"  required id="password" name="password" class="form-control"
									   data-ng-model="credentials.password" placeholder="Password">
							</div>
							<div class="col-md-6" ng-class="{ 'has-error' : userForm.repeatPassword.$invalid && submitted}">
								<input type="password"  required id="repeatPassword" name="repeatPassword" class="form-control"
									   data-ng-model="credentials.repeatPassword" placeholder="Password Again">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-12 signin-form-row">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12" ng-class="{ 'has-error' : userForm.email.$invalid && submitted}">
								<input type="email" required id="email" name="email" class="form-control" data-ng-model="credentials.email"
									   placeholder="Email Address">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12" ng-class="{ 'has-error' : userForm.birthDate.$invalid && submitted}">
								<div class="row">
									<label for="birthDate" class="col-sm-3 col-xs-12 control-label">Birth Date:</label>
									<div class="col-sm-9 col-xs-12 birthdate-container">
										<input type="date" required id="birthDate" name="birthDate" class="form-control " data-ng-model="credentials.birthDate">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-large btn-primary">REGISTER</button>
					</div>
				</div>
			</div>

			<div class="clear">&nbsp;</div>
		</form>
	</div>

	<!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control"
						   data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control"
						   data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
						   placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control"
						   data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control"
						   data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>
					&nbsp; or&nbsp;
					<a data-ui-sref="authentication.signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>-->
</div>
