<div class="mobile-close-popup glyphicon glyphicon-remove" ng-click="hideLogin()"></div>
<div class="clear">&nbsp;</div>
<div data-ng-controller="AuthenticationController">
    <form name="loginForm" data-ng-submit="signin()" class="signin-popup form-horizontal" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-12">
                <input type="text" id="username" name="username" class="form-control"
                       data-ng-model="credentials.username" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="password" id="password" name="password" class="form-control"
                       data-ng-model="credentials.password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <a data-ui-sref="password.forgot">Forgot Password?</a>
            </div>
            <div class="col-sm-6 col-xs-6">
                <input type="checkbox" id="remember" name="remember"
                       data-ng-model="credentials.remember"/> Remember me
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 activate-account-link">
                <a data-ng-href="authentication/signup">Activate Account</a>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
        <div class="row">
            <h3 class="col-md-12 col-sm-12 col-xs-12 text-center">Login using your social accounts</h3>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/api/auth/facebook" target="_self" class="undecorated-link">
                        <img src="/modules/users/img/buttons/facebook.png">
                    </a>
                    <a href="/api/auth/google" target="_self" class="undecorated-link">
                        <img src="/modules/users/img/buttons/google.png">
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>