
@font-face {
	font-family: 'CartoGothic Std Book';
	font-style: normal;
	font-weight: normal;
	src: local('CartoGothic Std Book'), url('/modules/core/fonts/CartoGothicStd-Book.woff') format('woff');
}


@font-face {
	font-family: 'CartoGothic Std Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('CartoGothic Std Bold Italic'), url('/modules/core/fonts/CartoGothicStd-BoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'CartoGothic Std Bold';
	font-style: normal;
	font-weight: normal;
	src: local('CartoGothic Std Bold'), url('/modules/core/fonts/CartoGothicStd-Bold.woff') format('woff');
}


@font-face {
	font-family: 'CartoGothic Std Italic';
	font-style: normal;
	font-weight: normal;
	src: local('CartoGothic Std Italic'), url('/modules/core/fonts/CartoGothicStd-Italic.woff') format('woff');
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

.content {
	margin-top: 64px;
}
.content.footer-content {
	margin-top: 0;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}
.clear{
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.navbar-inverse {
	background-color: #FFFFFF;
	background-image: none;
	box-shadow: 0 1px 2px #d4d5d7;
	border-bottom: 0;
}

.navbar-inverse::before {
	content: '';
	width: 100%;
	height: 13px;
	background-color: #d81f33;
	box-shadow: 0 1px 0 #e37666;
	margin-bottom: 1px;
}

.navbar-brand img {
	height: 100%;
	width: 125px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-transform: uppercase;
	color: #231f20;
	text-shadow: none;
	font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #d81f33;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
	color: #d81f33;
	background-color: #e2e3e4;
	background-image: none;
}

.navbar-inverse .navbar-toggle {
	background-color: #333333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #d81f33;
}

/*content*/
section.content {
	background-color: #404041;
}

.container {
	background-color: #ffffff;
}

.home-header {
	position: relative;
	background-image: url('/modules/core/img/home_banner.jpg');
	height: 241px;

	background-size: 100% 100%;
	-webki-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.home-header-text {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	color: #ffffff;
	font-size: 25px;
}

.home-more-banner {
	color: #ffffff;
}

.home-more-business {
	background-image: url('/modules/core/img/business.jpg');

	background-size: 100% 100%;
	-webki-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.home-more-consumers {
	background-image: url('/modules/core/img/customers.jpg');

	background-size: 100% 100%;
	-webki-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.home-more-banner-inner {
	background: rgba(43,15,15,1);
	background: -moz-linear-gradient(left, rgba(43,15,15,1) 0%, rgba(43,15,15,1) 50%, rgba(233,233,234,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,15,15,1)), color-stop(50%, rgba(43,15,15,1)), color-stop(100%, rgba(233,233,234,0)));
	background: -webkit-linear-gradient(left, rgba(43,15,15,1) 0%, rgba(43,15,15,1) 50%, rgba(233,233,234,0) 100%);
	background: -o-linear-gradient(left, rgba(43,15,15,1) 0%, rgba(43,15,15,1) 50%, rgba(233,233,234,0) 100%);
	background: -ms-linear-gradient(left, rgba(43,15,15,1) 0%, rgba(43,15,15,1) 50%, rgba(233,233,234,0) 100%);
	background: linear-gradient(to right, rgba(43,15,15,1) 0%, rgba(43,15,15,1) 50%, rgba(233,233,234,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b0f0f', endColorstr='#e9e9ea', GradientType=1 );
}

.home-more-banner h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	padding-left: 16px;
	padding-top: 20px;
}

.home-more-banner .home-more-banner-inner div,
.home-more-banner .home-more-banner-inner div {
	font-size: 15px;
	width: 60%;

	padding-left: 16px;
}

.home-more-banner a.btn {
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;

	margin-left: 16px;
	margin-top: 20px;
	margin-bottom: 20px;

	border: 1px solid #ffffff;
	padding: 6px 33px;

	border-radius: 10px;
}

.home-center-banner {
	background-color: #939598;
	text-align: center;

	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.home-center-banner h4 {
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	padding: 10px 0;
}

.home-center-banner .home-center-banner-block {
	height: 120px;
	padding-left: 5px;
	padding-right: 5px;
}

.home-center-banner-inner {
	height: 100%;
	background-size: 100% 100%;
	display: inline-block;
	width: 100%;
}

.home-center-banner-inner h5 {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;

	width: 100%;
	/*margin: auto 0;*/
	margin-top: 50px;
}

.home-center-banner-entertainment .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_entertainment.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_entertainment.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_entertainment.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_entertainment.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_entertainment.png');

	background-size: 100% 100%;
}
.home-center-banner-dining .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_dining.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_dining.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_dining.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_dining.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_dining.png');

	background-size: 100% 100%;
}
.home-center-banner-health .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_health.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_health.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_health.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_health.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_health.png');

	background-size: 100% 100%;
}
.home-center-banner-auto .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_auto.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_auto.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_auto.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_auto.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_auto.png');

	background-size: 100% 100%;
}
.home-center-banner-travel .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_travel.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_travel.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_travel.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_travel.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_travel.png');

	background-size: 100% 100%;
}
.home-center-banner-more .home-center-banner-inner {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))), url('/modules/core/img/slider_more.png');
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/modules/core/img/slider_more.png');
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_more.png');
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_more.png');
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0, 0.5) 100%), url('/modules/core/img/slider_more.png');

	background-size: 100% 100%;
}

.banner-slider {
	background-color: #f1f1f2;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.banner-container {
	height: 40px;
	text-align: center;
	display: inline-block;
}

.banner-container img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto auto;
}

.gray-strip {
	margin-top: 10px;
	background-color: #c5c6c8;
	padding-top: 20px;
	min-height: 25px;

	border-top: 2px solid #d81f33;
}
.gray-strip-without-margin {
	margin-top: 0px;
}

.form-find-in-area {
	margin-top: 10px;
}

.form-find-in-area span {
	font-size: 22px;
	font-weight: bold;
	color: #5b5c5e;
}

.form-find-in-area input {
	margin-left: 15px;
	border: 1px solid #a5a7a9;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 600;
	position: relative;
	top: -3px;
}

.offers-list.offer-inner {
	text-align: center;
	padding-bottom: 15px;
}

.offers-list .offer-category-title {
	background-color: #d81f33;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.offers-list .offer-logo {
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;
	display: inline-block;
	width: 100%;
}

.offers-list .offer-logo img {
	height: 75%;
	width: auto;
	/*margin: auto auto;*/
	margin-top: 16px;
}

.offers-list .offer-info {
	background-color: #ededee;
	color: #545456;
}

.offers-list .offer-title {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
    text-transform: uppercase;
}

.offers-list .offer-subtitle {
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
}

.offers-list .offer-address {
	padding-bottom: 4px;
	font-weight: 600;
	font-size: 12px;
}

.offers-list .offer-distance {
	padding-bottom: 10px;
	font-size: 14px;
	background-image: url('/modules/core/img/distance_icon.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 6px;
	padding-left: 20px;
	display: inline-block;
}

.offers-list .offer-icons span {
	font-size: 18px;
	margin-right: 2px;
}

.preloader-offers{
    display:none;
    background: #c5c6c8;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.wings-gif{
    height: 60px;
}

.offers-list .offer-icons img:first-child {
	width: 18px;
	margin-left: 13px;
}

.offers-list .offer-rate {
	padding-top: 15px;
	padding-bottom: 15px;
}

.offers-list .offer-rate img {
	display: inline-block;
	width: 15px;
	height: auto;
	margin-right: 6px;
}

footer.footer .container{
	background-color: #231f20;
	padding: 15px 20px
}

.footer-info {
	float: left;
	width: 30%;
}

.footer-info img {
	width: 144px;
	margin-bottom: 15px;
}

.footer-info div {
	color: #ffffff;
	font-size: 12px;
}

.footer-menu {
	float: right;
	width: 69%;
	height: 72px;
	text-align: right;
}

.footer-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
	/*display: inline-flex;*/
	display: inline-block;
	padding-top: 25px;
	height: 100%;
}

.footer-menu ul li {
	display: inline-block;
	margin: auto 0 auto 15px;
}

.footer-menu ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}



/*Text pages*/
.textpage-title {
	font-size: 40px;
	font-weight: bold;
	color: #5b5c5e;
	margin-top: 10px;
}

.textpage-content {
	color: #231f20;
	font-size: 14px;
	line-height: 20px;
	background-color: #ededee;

	padding: 20px 35px;
}

.textpage-content div {
	margin-bottom: 10px;
}

/*Consumers page*/
.consumers-header {
	position: relative;
	background-image: url('/modules/core/img/consumers_banner.jpg');
	height: 241px;

	background-size: 100% 100%;
	-webki-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.consumers-header-text,
.business-header-text{
	position: absolute;
	top: 41%;
	left: 25px;
	font-weight: bold;
	color: #ffffff;
	font-size: 30px;
}

.consumers-content,
.business-content {
	padding: 15px 20px;
}

.consumers-content p,
.business-content p {
	font-size: 18px;
	font-weight: 600;
	color: #231f20;
	margin-bottom: 50px;
}

.questions-row {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.questions-row .questions-row-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	color: #231f20;
}

.questions-row .btn {
	font-weight: bold;
	font-size: 28px;
	color: #d81f33;
	border: 1px solid #d81f33;
	width: 80%;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.questions-contact-btn {
	float: right;
}

.questions-check-btn {
	float: left;
}

/*Business page*/
.business-header {
	position: relative;
	background-image: url('/modules/core/img/business_banner.jpg');
	height: 241px;

	background-size: 100% 100%;
	-webki-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.business-content .btn {
	font-weight: bold;
	font-size: 28px;
	color: #d81f33;
	border: 1px solid #d81f33;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	padding: 6px 20px;
}

.business-cards {
	margin-top: 20px;
	margin-bottom: 20px;
}

.business-cards img {
	width: 100%;
	height: auto;
}

.card-top {
	font-weight: bold;
	font-size: 20px;
	color: #231f20;
	padding: 4px 8px;
}

.gold-card {
	background-color: #e7aa23;
}

.silver-card {
	background-color: #c2c2c4;
}

.black-card {
	background-color: #231f20;
	color: #ffffff;
}

.card-text {
	padding: 4px 8px;
	color: #696a6c;
	margin-bottom: 15px;
}

/*Contact page*/
.contact-form-container {
	background-color: #ededee;
	padding: 20px 0;
	margin-bottom: -10px;
}

.contact-header {
	color: #696a6c;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.contact-header a {
	color: #d81f33;
	text-decoration: none;
}

.contactForm .form-control {
	margin-bottom: 20px;
}

.contactForm .btn {
	width: 100%;
	background: #d81f33;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border: none;
}

.contactForm .contact-info {
	padding-top: 20px;
}

.contactForm .contact-info {
	text-align: center;
	color: #696a6c;
	font-weight: bold;
	font-size: 20px;
}

/*Faqs page*/
.faqs-title {
	float: left;
}

.faqs-search {
	float: left;
	padding-top: 14px;
	padding-left: 30px;
	width: 40%;
}

.textpage-content .faq-container {
	margin-bottom: 30px;
}

.textpage-content .faqs-text-title {
	background-color: #d81f33;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	padding: 10px 18px;
	cursor: pointer;
	margin-bottom: 0;
}

.faqs-text-content {
	background-color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	padding: 14px 26px;
}

/*login popup*/
#login-popup-mobile {
	visibility: hidden;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}
.mobile-close-popup {
	display: none;
	float: right;
	margin-bottom: 10px;
}
.login-popup {
	position: absolute;
	background-color: #e2e3e4;
	padding: 15px 20px 0px 20px;
	width: 300px;
	color: #67686b;
	font-family: 'CartoGothic Std Book';

	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}

.login-popup .form-control {
	padding-top: 10px;
}

.login-popup .row {
	margin-bottom: 15px;
}

.login-popup a {
	text-decoration: none;
	color: #67686b;
}

.login-popup input[type=checkbox] {
	position: relative;
	top: 2px;
}

.login-popup .btn {
	background-color: #d81f33;
	border: none;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	background-image: none;
	padding-top: 9px;
	width: 100%;
}

.login-popup h3 {
	font-size: 16px;
	margin-top: 2px;
}

.login-popup img {
	width: 40px;
}

.activate-account-link {
	padding-top: 12px;
}

#login-popup-mobile .activate-account-link {
	padding-top: 0;
}

/*media queries*/
@media screen and (max-width: 992px) {
	.home-header,
	.business-header,
	.consumers-header {
		height: 200px;
	}
	.home-header-text {
		font-size: 22px;
	}

	.home-center-banner .home-center-banner-block.col-xs-6 {
		margin-bottom: 20px;
	}

	.footer-menu ul li a {
		font-size: 14px;
	}

	.banner-slider {
		padding-bottom: 0px;
	}

	.banner-container.col-xs-4 {
		margin-bottom: 20px;
	}

	.home-center-banner .home-center-banner-block {
		height: 200px;
	}

	.consumers-content p, .business-content p {
		margin-bottom: 30px;
	}

	.business-content-button {
		text-align: center;
		margin-bottom: 30px;
	}

	.business-cards {
		padding: 0 20px;
	}

	.business-cards img {
		margin-bottom: 30px;
	}

	.questions-row .btn {
		font-size: 22px;
	}

	.home-center-banner-inner h5 {
		margin-top: 90px;
	}
}

@media screen and (max-width: 768px) {
	.home-header,
	.business-header,
	.consumers-header {
		height: 180px;
	}
	.home-header-text,
	.consumers-header-text, .business-header-text{
		font-size: 18px;
	}

	.navbar-nav {
		margin: 0 -15px;
	}

	.home-center-banner .home-center-banner-block {
		height: 180px;
	}

	.footer-menu ul li a {
		font-size: 10px;
	}

	.questions-contact-btn,
	.questions-check-btn {
		float: none;
	}

	.questions-row {
		margin-bottom: 0;
	}

	.qustions-row-button {
		margin-bottom: 20px;
	}

	#login-popup-mobile {
		visibility: inherit;
		height: auto;
	}

	#login-popup-desktop {
		visibility: hidden;
	}

	.mobile-close-popup {
		display: block;
	}

	.home-center-banner-inner h5 {
		margin-top: 80px;
	}
}

@media screen and (max-width: 480px) {
	.home-header,
	.business-header,
	.consumers-header {
		height: 100px;
	}
	.home-header-text, .consumers-header-text, .business-header-text{
		font-size: 14px;
	}

	.home-more-banner .home-more-banner-inner div, .home-more-banner .home-more-banner-inner div {
		width: 70%;
	}

	.footer-info {
		width: 100%;
	}

	.footer-info div {
		float: right;
	}

	.footer-menu {
		width: 100%;
		height: 30px;
		margin-top: 10px;
	}

	footer.footer .container {
		padding-bottom: 10px;
	}

	.home-center-banner .home-center-banner-block {
		height: 160px;
	}

	.business-content .btn {
		font-size: 20px;
	}

	.textpage-content .faq-container {
		margin-bottom: 20px;
	}

	.textpage-content .faqs-text-title {
		font-size: 18px;
	}

	.faqs-text-content {
		font-size: 14px;
		line-height: 18px;
	}

	.home-center-banner-inner h5 {
		margin-top: 70px;
	}

	.footer-menu ul {
		padding-top: 0;
	}
}

@media screen and (max-width: 400px) {
	.home-more-banner h3 {
		font-size: 20px;
	}

	.navbar-inverse .navbar-nav > li > a {
		font-size: 12px;
		line-height: 12px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.form-find-in-area span {
		font-size: 16px;
	}

	.footer-info {
		text-align: center;
	}

	.footer-info img,
	.footer-info div {
		display: inline-block;
		float: none;
	}

	.footer-menu {
		height: auto;
		border-top: 1px solid #d81f33;
	}

	.footer-menu ul {
		display: block;
		text-align: center;
	}

	.footer-menu ul li {
		display: inline-block;
		width: 50%;
		margin: 0;
	}

	.home-center-banner .home-center-banner-block {
		height: 130px;
	}

	.textpage-title {
		font-size: 30px;
	}

	.consumers-content p, .business-content p {
		font-size: 14px;
	}

	.card-text {
		font-size: 12px;
	}

	.questions-row .btn {
		font-size: 14px;
	}

	.contact-header {
		font-size: 16px;
	}

	.contactForm .contact-info {
		font-size: 16px;
	}

	.login-popup {
		font-size: 10px;
	}

	.login-popup .form-control {
		height: 20px;
		padding-top: 4px;
		padding-bottom: 2px;
		font-size: 12px;
	}

	.login-popup .row {
		margin-bottom: 8px;
	}

	.login-popup input[type=checkbox] {
		margin: 0;
		height: 10px;
	}

	.home-center-banner-inner h5 {
		margin-top: 60px;
	}
}

@media screen and (max-width: 360px) {
	.home-header, .business-header, .consumers-header {
		height: 80px;
	}

	.home-header-text {
		font-size: 12px;
	}

	.home-more-banner h3 {
		font-size: 13px;
	}

	.home-more-banner .home-more-banner-inner div, .home-more-banner .home-more-banner-inner div {
		width: 100%;
		font-size: 12px;
	}

	.home-more-banner a.btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.home-center-banner h4 {
		font-size: 14px;
	}

	.home-center-banner-inner h5 {
		font-size: 10px;
	}

	.home-center-banner .home-center-banner-block {
		height: 80px;
	}

	.form-find-in-area span {
		font-size: 10px;
	}

	.form-find-in-area input {
		width: 84px;
		font-size: 10px;
		position: relative;
		top: 0px;
	}

	.textpage-title {
		font-size: 20px;
	}

	.consumers-content p, .business-content p {
		font-size: 12px;
	}

	.business-content .btn {
		font-size: 16px;
		padding: 4px 10px;
	}

	.card-top {
		font-size: 14px;
	}

	.textpage-content .faq-container {
		margin-bottom: 15px;
	}

	.textpage-content .faqs-text-title {
		font-size: 14px;
		padding: 6px 14px;
	}

	.faqs-text-content {
		font-size: 12px;
		line-height: 14px;
		padding: 9px 20px;
	}

	.login-popup .row {
		margin-bottom: 8px;
	}

	.login-popup input[type=checkbox] {
		margin: 0;
		height: 10px;
	}

	.login-popup {
		font-size: 8px;
	}

	.login-popup .form-control {
		height: 16px;
		font-size: 10px;
	}

	.login-popup .btn {
		padding-top: 3px;
		padding-bottom: 0px;
		font-size: 10px;
	}

	.login-popup h3 {
		font-size: 12px;
	}

	.login-popup img {
		width: 26px;
	}

	.home-center-banner-inner h5 {
		margin-top: 35px;
	}
}